tensorflow==2.15.0
torch==2.1.2
mediapipe==0.10.9
opencv-python-headless
pandas
numpy
tqdm
dvc
mapping
notebook
ipykernel
python-box==6.0.2
pyarrow
pyYAML
ensure==1.0.2
joblib
types-pyYAML
scipy
Flask
Flask-Cors
-e .